:root {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
body, h1, h2, p {
  margin: 0;
  padding: 0;
}
#app {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  height: 100dvh;
}

aside {
  padding: 2rem;
  background-color: #666666;
}

#project-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main {
  padding: 2rem;
  box-sizing: border-box;
}
#container {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
}
#priority-sorting {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 100%;
  height: 100%;
}

